.header {
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    z-index: 1;
    text-transform: uppercase;

    ul {
        padding: 0;
        margin: 0;
    }
    
    &-main-menu {
        ul {
            display: flex;
            li {
                display: flex;
                align-items: center;
                &:not(:last-child){
                    &::after {
                        content: '|';
                    }
                }
                .nav-link {
                    white-space: nowrap;
                }
            }
        }

    }

    &-btns {
        .btn {
            font-size: inherit;
        }
    }

    &-mobile-menu {
        .offcanvas {
            font-size: 24px;
            background: linear-gradient(135deg, #ef4823 -90.64%, #ef4823 -54.25%, #ea4728 -35.72%, #e14437 -4.72%, #d23f4d 34.98%, #bd3965 81.76%, #a32f7f 133.99%, #942c8e 160.53%, #942c8e 218.76%);
            color: white;
            width: 100%;
            border: none;
            &.show {
                visibility: visible;
            }

            &-body {
                padding: 0;   
                .mobile-nav {
                    display: flex;
                    justify-content: center;
                    padding-top: 100px;
                }

                .social-media {
                    position: absolute;
                    left: 0;
                    bottom: 25%;
                    padding: 7px;
                    font-family: $font_title;
                    background-color: rgba(255,255,255,0.4);
                    font-size: 20px;
                    font-weight: 800;
                    text-transform: none;
                    transform: rotateZ(-90deg) translateY(-97px);

                    img {
                        transform: rotateZ(90deg);
                    }
                    
                    span {
                        &::before {
                            content: '';
                            width: 80px;
                            height: 4px;
                            background-color: white;
                            display: inline-block;
                            margin: 4px 5px;
                        }    
                    }
                }
    
            }


            &::before {
                position: absolute;
                content: '';
                width: 102px;
                height: 819px;
                background: url(../../images/mobile-dots.svg);
                top: 0;
                left: 0;
            }

            &::after {
                position: absolute;
                content: '';
                width: 342px;
                height: 137px;
                background: url(../../images/mobile-oval.svg);
                bottom: 0;
                left: 0;
            }
            


        }
    }

}