.philosophy {
    background-color: $color_primary-light;
    h2 {
        color: white;
        span {
            color: black;
            background-color: white;
        }
    }

    .video {
        position: relative;
        z-index: 0;

        .video-mp4, .video-caption {
            cursor: pointer;
        }
        
        .video-mp4 {
            filter: grayscale(1);
        }
        .video-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .blob {
            position: absolute;
            top: 50%;
            z-index: -1;
            transition: all 1s ease-in-out;

            &.left {
                left: 0;
                transform: translate(-50%, -50%);
                animation: videoMove-left 15s linear infinite;
            }

            &.right {
                right: 0;
                transform: translate(50%, -50%);
                animation: videoMove-right 15s linear infinite alternate-reverse;
            }
        }
    }
}