@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;800&display=swap');
@import '../sass/variables';
@import '../sass/header';

* {
    box-sizing: border-box !important;
}

//typography
h1 {
    font-family: $font_primary;
    &::before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background-color: $color_primary-light;
        margin: 0 auto 15px auto;
    }
    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background-color: $color_primary-light;
        margin: 15px auto 0 auto;
    }
}

h3 {
    font-family: $font_secondary;
    font-weight: 700;
    margin-bottom: 100px;
    span {
        color: $color_primary-light;
        text-transform: capitalize;
        font-style: italic;
        font-weight: 400;
    }
}

h2 {
    text-transform: uppercase;
    font-family: $font_primary;
    font-weight: 800;
    padding: 100px 0 100px 0;
    span {
        padding: 5px 5px 5px 200px;
        color: white;
        background-color: $color_primary-dark;
    }
}

//header
header {
    font-family: $font_secondary;
    font-size: $font-small;
    z-index: 1;
    nav {
        ul.nav {
            li:not(:last-child){
                    &::after {
                        content: '|';
                    }
                }
        }
    }
    .btn {
        font-size: $font-small;
    }
}

//hero
.hero {
    font-family: $font_secondary;
    background: linear-gradient(to bottom, white 7%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 55%, white 100%), url('../../images/hero.png') no-repeat center;
    background-size: cover;

    &-top {
        padding-top: 200px;
    }

    &-bottom {
        margin-top: 100px;
    }

    .blobs {
        width: max-content;
        position: absolute;
        svg:first-child() {
            transition: all 1s ease-out;
            animation: flying 20s linear infinite ;
        }
        svg:nth-child(2) {
            transition: all 1s ease-out;
            animation: flying 20s linear infinite alternate-reverse;
        }
        svg:last-child() {
            transition: all 1s ease-out;
            animation: flying 20s linear infinite;
        }
        &-start {
            top: 15%;
            left: -20px;
        }
        &-end {
            top: 30%;
            right: -20px;
        }
    }
}

//animations
@keyframes counterMove {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(20px, 5px);
    }
    70% {
        transform: translate(-20px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes lgCardMove {
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-45%, -52%);
    }
    75% {
        transform: translate(-55%, -48%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes mdCardMove {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(5px, 5px);
    }
    70% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes flying {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(20px, 30px);
    }   
    50% {
        transform: translate(10px, -10px);
    }
    75% {
        transform: translate(-20px, -30px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}



//counters
.counters {
    padding-bottom: 100px;
    h2 {
        span {
            background: linear-gradient(135deg, #EF4823 -90.64%, #EF4823 -54.25%, #EA4728 -35.72%, #E14437 -4.72%, #D23F4D 34.98%, #BD3965 81.76%, #A32F7F 133.99%, #942C8E 160.53%, #942C8E 218.76%);
        }
    }
    .counter-box {
        text-align: center;

        svg {
            transition: all 1s ease-out;
            animation: counterMove 10s linear infinite;
        }

        &:first-child() {
            background:  url(../../images/counter-lab.png) no-repeat center;
        }

        &:nth-child(2) {
            background: url(../../images/counter-pills.png) no-repeat center;
        }

        &:last-child() {
            background: url(../../images/counter-drs.png) no-repeat center;
        }

        &-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            height: 75%;
            padding-bottom: 20px;
            color: white;
            .count-number {
                font-family: $font_primary;
                font-weight: 800;
                font-size: 45px;
                line-height: 54px;
                margin: 0;
            }
            p:not(.count-number) {
                font-family: $font_secondary;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                margin: 0;

            }
        }
    }
}
//history

.history {
    &::before {
        content: "";
        position: fixed;
        background: url(../../images/history-bg.svg) no-repeat center;
        background-size: cover;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &-container {
        padding-bottom: 150px;

        .history-row {
            margin-top: -20px;
            opacity: 0;
            transform: translateY(50%);
            transition: all .6s ease-in-out;
    
            &.show {
                opacity: 1;
                transform: translateY(0);
            }
    
            &:nth-child(odd) {
                justify-content: end;
                .history-date {
                    left: -7%;
                    transform: rotateY(-90deg);
                }
            }
    
            &:nth-child(even) {
                .history-box {
                    flex-direction: row-reverse;
                    .history-date {
                        right: -7%;
                        transform: rotateY(90deg);
                    }
                }
            }
    
            .history-box {
                display: flex;
                align-items: center;
                p {
                    margin: 0;
                }
                .history-date {
                    position: relative;
                    width: 123px;
                    height: 123px;
                    flex-shrink: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: url(../../images/hexagon.png) no-repeat center;
                    transition: all .6s ease-in-out;

                    &.show {
                        transform: rotateY(0deg) !important;
                    }
                    
                    .month {
                        font-family: $font_secondary;
                        font-weight: 700;
                    }
                    .year {
                        font-size: 32px;
                        font-family: $font_primary;
                        font-weight: 800;
                    }
                }
            }
        }
    
        [class^='title'] {
            position: absolute;
            font-family: $font_primary;
            font-weight: 400;
            font-size: 56px;
            color: #E5E5E5;
            text-transform: uppercase;
            opacity: 0.5;
            transform: rotateZ(-90deg);
        }
    
        .title-left {
            top: 25%;
            left: -25% ;
        }
        .title-right {
            bottom: 20%;
            right: -25% ;
        }
    
    }
}


//team
.team {
    background-color: $color_body;
    .team-row {
        position: relative;
        z-index: 0;
        &::before,
        &::after {
             content: '';
             background: url(../../images/dots.png) no-repeat center;
             position: absolute;
             width: 359px;
             height: 250px;
             z-index: -1;
        }

        &:first-of-type {
            &::before {
                top: 50%;
                left: -6%;
                transform: translateY(-50%) rotateY(180deg);
            }
            &::after {
                top: 50%;
                right: -6%;
                transform: translateY(-50%);
            }
        }

        &:nth-of-type(2) {
            &::before {
                top: 0%;
                left: 50%;
                transform: translateX(-50%);
            }
            &::after {
                display: none;
            }
        }

        
        &:nth-of-type(3) {
            &::before {
                top: 0%;
                left: 20%;
            }
            &::after {
                top: 0%;
                right: 20%;
            }
        }

    }
    .card {
        border: none;
        margin-bottom: 50px;
        border-radius: 30px;
        padding: 23px 30px;
        .row {
            align-items: center;
        }

        &-image {
            text-align: center;
        }

        &-body {
            font-family: $font_secondary;
            font-weight: 300;
            h5 {
                font-family: $font_primary;
                font-size: 32px;
                margin-bottom: 30px;
                font-weight: 800;
                
                text-transform: uppercase;
            }
            .small-text {
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }

    .lg-card {
        border-radius: 50px;
        transform: skew(-10deg);
        .row {
            transform: skew(10deg);
            .card-image {
                position: relative;
                .blob {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 1s ease-in-out;
                    
                    &:first-of-type{
                        animation: lgCardMove 20s linear infinite;
                    }

                    &:nth-of-type(2){
                        animation: lgCardMove 20s linear infinite alternate-reverse;
                    }
                }
                img:not(.blobs) {
                    transform: scale(1.3);
                }
            }
            .card-body {
                padding-left: 53px;
                padding-right: 53px;
            }
        }
    }

    .md-card {
        position: relative; 
        .blob {
            position: absolute;
            bottom: -5px;
            right: -5px;
            &:first-of-type {
                animation: mdCardMove 15s linear infinite;
            }
            &:nth-of-type(2) {
                animation: mdCardMove 15s linear infinite alternate-reverse;
            }
        }
    }

    .sm-card {
        position: relative;
        padding-top: 120px;
        text-align: center;
        margin-top: 75px;
        .card-image {
            position: absolute;
            top: -40%;
            transform: translateY(50%);
        }
    }
}
